<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Create Account</title>
  </head>
  <body class="bg-gray-100 flex justify-center min-h-screen">
    <div
      class="bg-white p-10 rounded-2xl shadow-lg w-full max-w-md text-center"
    >
      <h2 class="text-4xl font-extrabold text-blue-600 mb-4">
        Create an Account
      </h2>
      <form action="" class="" method="post">
        {% csrf_token %}
        <div>
          <label for="id_username">Enter your name</label>
          <input
            class="bg-gray-100"
            type="text"
            name="user_name"
            id="id_username"
            placeholder="Enter your name"
          />
          <label for="id_email">Enter your Email</label>
          <input
            class="bg-gray-100"
            type="text"
            name="user_email"
            id="id_user_mail"
            placeholder="Enter your Email"
          />
          <label for="id_username">Enter your Password</label>
          <input
            class="bg-gray-100"
            type="text"
            name="user_password"
            id="id_user_password"
            placeholder="Enter your Password"
          />
        </div>
        {% if form.user_name.errors %}
        <p>{{form.user_name.errors.0}}</p>
        {% endif %}
      </form>
    </div>
  </body>
</html>
